[
    {
	"name": "jupyterhub",
	"image": "quay.io/geodocker/jupyter-geopyspark:latest",
	"memoryReservation": 2048,
	"essential": true,
	"environment": [{
	    "name": "NEW_ADDR",
	    "value": "${addr}"
	}],
	"portMappings": [
            {
                "containerPort": ${port},
                "hostPort": ${port},
                "protocol": "tcp"
            }
        ]
    }
]
