archives/*.jar
archives/*.tar.*
archives/*.whl
archives/*.zip
blobs/*
emr/config-aws.mk
geopyspark-*/
notebooks/.ipynb_checkpoints/
rpms/build/rpmbuild/RPMS/x86_64/*
rpms/build/rpmbuild/SOURCES/*
scratch/*
target/*
terraform/.terraform/*
terraform/.terraform*
terraform/terraform.tfstate*
