archives/*.jar
archives/*.tar.*
archives/*.whl
archives/*.zip
blobs/*
emr/config-aws.mk
geopyspark-*/
notebooks/.ipynb_checkpoints/
scratch/*
target/*
terraform/.terraform/*
terraform/.terraform*
terraform/terraform.tfstate*

